{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="WendellLiu">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %} | Nutrika {% endblock %}  </title>

    {% block specified_js_lib %}{% endblock specified_js_lib %}


</head>

  <body>
	{% load socialaccount %}
	{% providers_media_js %}
	<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

	{{ user }}
    {% if user.is_anonymous %}
      <a href="{% url 'account_login' %}">login</a>
  	{% else %}
  	<a href="{% url 'account_logout' %}">logout</a>
	{% endif %}

	{% block content %}
    {% endblock %}

  </body>
</html>
